// ########  HEADER  #############
.port-navbar {
  width: 100%;
  z-index: 10;
  margin: 0 40px;
  margin-bottom: 40px;
  padding: 0;

  .port-navbar {
    &-brand {
      color: var(--main-text-color);
      font-size: 1.6rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
    }

    &-item {
      margin-left: 10px;
      margin-right: 10px;
    }

    &-link {
      color: var(--main-text-color);
      font-weight: bold;
      letter-spacing: 0.8px;
      font-size: 1rem;
      text-transform: uppercase;

      &.active {
        color: var(--main-active-color);
      }

      &:hover,
      &:focus {
        color: var(--main-active-color);
      }
    }
  }
  .port-dropdown-menu {
    .port-dropdown-item {
      color: var(--subtle-text-color);

      &.active {
        color: var(--main-active-color);
      }
    }

    .port-dropdown-toggle {
      color: var(--main-text-color);
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.port-navbar.port-nav-base.port-nav-default {
  padding: 25px;
  background-color: $secondary !important;
}

.bg-transparent.menu-open {
  background-color: #2c3e50 !important;
}

.bg-transparent.menu-close {
  transition: 1s;
}
