// ##### INDEX ###########
.cover {
  background-image: linear-gradient(45deg, var(--bg-gradient-start), var(--bg-gradient-end) 100%);
  overflow: hidden;
  position: relative;
}

.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0 auto;
  position: relative;
}

.main-section {
  //top: 100px;
  //width: 100%;
  padding: 100px 0 0;
}

.left-section {
  max-width: 400px;
  color: var(--hero-text-color);
  width: 30vw;
  position: relative;
  margin: 0 auto;

  h2 {
    color: var(--hero-hdr-color);
    font-weight: bold;
    margin: 0 auto;
  }

  &-title {
    position: absolute;
    bottom: 10px;
    width: 90%;
    left: 5%;
    z-index: 1;

    &-text {
      font-size: 0.8rem;
    }
  }
  .image {
    width: auto;
    max-height: 300px;
    max-width: 300px;
    margin: 0 auto;
    overflow: hidden;
  }
}

.right-welcome-title > h1 {
  color: var(--main-text-color);
  text-transform: uppercase;
  font-size: 27px;
  margin: 40px 0 auto;
}

.right-welcome-bio {
  margin-top: 20px;
  color: var(--main-text-color);

  .fa-stack {
    font-size: 26px;
  }

  .list-inline-item {
    > a {
      color: var(--subtle-text-color);
    }
  }
}

.background-image {
  position: absolute;
  width: 1800px;
  height: 600px;
}

.typed-container {
  margin-bottom: 1em;
  color: var(--typed-text-color);
}
.typed-container span {
  margin: 0;
  padding: 0;
}
.my-typed {
  margin: 0;
  font-size: 14px;
}

.progress-hdr {
  color: var(--main-text-color);
  padding: 0 12px 0 0;
  display: inline;
}

.git-txt {
  font-size: 11px;
  margin: 0;
}

.typed-section {
  display: inline;
  font-style: bold;
  padding-right: 1em;
}

.flipper {
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.flipper.isFlipping {
  transform: rotateY(-180deg);
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  transform: rotateY(0deg);
  z-index: 9999;
}

.back {
  transform: rotateY(180deg);
}
