// ##### INDEX ###########
.cover {
  background-image: linear-gradient(45deg, var(--bg-gradient-start), var(--bg-gradient-end) 100%);
  overflow: hidden;
  position: relative;
}

.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  margin-top: 0;
  position: relative;
}

.main-section {
  top: 50px;
  width: 100%;
  padding: 150px 0 0;
}

.hero-section {
  h2 {
    color: var(--main-text-color);
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
  }

  perspective: 1000px;
  color: var(--main-text-color);
  width: 400px;
  position: relative;

  &-content {
    position: absolute;
    bottom: 20px;
    width: 360px;
    left: 6%;
    z-index: 1;

    &-intro {
      font-size: 17px;
    }
  }
}

.image {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.hero-welcome-text > h1 {
  color: var(--main-text-color);
  text-transform: uppercase;
  font-size: 27px;
  margin: 80px 0 auto;
}

.hero-welcome-bio {
  margin-top: 20px;
  color: var(--main-text-color);

  .fa-stack {
    font-size: 28px;
  }

  .list-inline-item {
    > a {
      color: var(--subtle-text-color);
    }
  }
}

.hero-welcome-wrapper {
  justify-content: flex-end;
}

@media (max-width: 991px) {
  .hero-section {
    width: 30vw;

    &-content {
      width: 25vw;
    }
  }

  .hero-welcome-text > h1 {
    margin-top: 0px;
  }
}

.background-image {
  position: absolute;
  width: 1800px;
  height: 600px;
}

.typed-container {
  margin-bottom: 1em;
  color: var(--typed-text-color);
}
.typed-container span {
  margin: 0;
  padding: 0;
}
.my-typed {
  margin: 0;
  font-size: 14px;
}

.progress-hdr {
  //margin-top: 20px;
  padding: 0 12px 0 0;
  display: inline;
}

.git-txt {
  font-size: 11px;
  margin: 0;
}

.typed-section {
  display: inline;
  font-style: bold;
  padding-right: 1em;
}

.flipper {
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.flipper.isFlipping {
  transform: rotateY(-180deg);
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  transform: rotateY(0deg);
  z-index: 9999;
}

.back {
  transform: rotateY(180deg);
}
