/* COLORS */
:root {
  --main-text-color: lightgreen;
  --main-header-color: #fff;
  --main-active-color: #eb2;
  --subtle-text-color: #555;
  --typed-text-color: #9ab;

  --bg-gradient-start: #022;
  --bg-gradient-end: #333;
  --main-background-color: rgba(0, 0, 0, 0.3);

  /* below here are unchanged by theme */
  --hero-hdr-color: white;
  --hero-text-color: black;
}
